@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
	box-shadow: border-box;
	font-family: 맑은고딕,굴림,sans-serif;
	font-weight: 600;
/* 	border: 1px solid red; */
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	width: 1080px;
	margin: 0 auto;
		
}
header{
	width: 100%;
	height: 150px;
}
nav{
	height: 40px;
	width: 100%;
	background-color: #557882;
	border-radius: 10px;
}

nav li{
	float:left;
	margin-left:5px;
}
nav li a{
	display: inline-block;
	height:35px;
	line-height: 40px;
	color:white;
	text-align: center;
	padding: 0 10px;
	font-size:15px;
	font-weight: bolder;
	float: left;
}
nav li .splite{
	width:0;
	height:25px;
	border: 1px solid white;
	float: right;
	margin-top:7px;
}
header .logo{
	width: 200px;
	height: 100px;
	margin: 10px 0 0 10px;
	border-radius: 0 10px 10px 10px;
}
header .logo a{
	display: block;
	height:100%;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color:#557882;
}
section{
	width: 100%;
	min-height: 800px;
}

section .news{
	width: 900px;
	margin: 10px auto 50px auto;
}
section .news_header{
	height: 50px;
	position :relative;
	border-bottom: 1px solid gray;
}
section .news_title{
	width:680px;	
	height: 100%;
	display:block;
	font-size: 30px;
	position: absolute;
	padding-left:20px;
	line-height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
section .news_content{
	padding :10px;
	border-bottom: 1px solid gray;
}
section .news_writer{
	position: absolute;
	right :10px;
	top: 25px;
}
section .news_wdate{
	position: absolute;
	right:10px;
	top:3px;
}
section .news_buttonsBar{
	display: inline-block;
	float: right;
}
section input[value="글쓰기"]{
	float:right;
	margin-right: 100px;
}

.page_bar{
	width:330px;
	text-align:center;
	margin:0 auto;
	overflow: hidden;
	margin-top: 40px;
}
.page_bar>div{
	display: inline-block;
}
.page_bar a{
	float:left;
	display:block;
	float:left;
	width:40px;
	padding: 10px 0;
	border:1px solid black;
}
.page_bar .left_off,.right_off,.page_off{
	background-color: gray;
}

footer{
	width: 100%;
	height: 150px;
}